/********************** Start Variables **********************/
:root {
  --main-color: hsl(322, 100%, 66%);
  --main-color-alt: hsl(208, 11%, 55%);
  --main-bk: hsl(193, 100%, 96%);
  --main-transition: 0.3s;
  --footer-background: hsl(192, 100%, 9%);
  --main-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12);
}
/********************** End Variables **********************/

/********************** Start Global Rules **********************/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 button {
  font-family: "Poppins", sans-serif;
}

button {
  padding: 20px 70px;
  background: var(--main-color);
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

button:hover {
  background: hsl(322deg 100% 77%);
  color: #f5fdff;
}
img {
  max-width: 100%;
  max-height: 100%;
}
/********************** End Global Rules **********************/
/********************** Start Header **********************/
header {
  background-image: url(../images/bg-hero-desktop.svg);
  background-color: var(--main-bk);
  padding: 40px 60px;
}

@media (max-width: 768px) {
  header {
    background-image: url(../images/bg-hero-mobile.svg);
    background-color: var(--main-bk);
    padding: 20px 20px;
  }
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav img {
  height: 35px;
}

@media (max-width: 768px) {
  header nav img {
    height: 15px;
  }
}

header nav button {
  border-radius: 25px;
  padding: 15px 60px;
  background: white;
  border: none;
  box-shadow: --main-box-shadow;
  color: var(--section-background);
  cursor: pointer;
}

@media (max-width: 768px) {
  header nav button {
    padding: 10px 30px;
    font-size: 13px;
  }
}

header nav button:hover {
  color: hsl(192deg 15% 55%);
  background: white;
}

header .landing {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 20px;
}

@media (max-width: 768px) {
  header .landing {
    flex-direction: column;
  }
  header .landing .intro-text {
    width: 100%;
    text-align: center;
  }
}

header .intro-text {
  width: 45%;
}

.image {
  width: 55%;
}

@media (max-width: 768px) {
  header .image {
    width: 100%;
    padding: 50px 20px 0;
  }
}

header .landing h1 {
  font-size: 42px;
  line-height: 1.5;
  margin: 25px 0;
  padding-right: 40px;
}

@media (max-width: 425px) {
  header .landing h1 {
    font-size: 30px;
    margin: 15px 0;
    padding-right: 0;
  }
}

header .landing p {
  line-height: 1.5;
  margin: 25px 0;
  padding-right: 70px;
}

@media (max-width: 425px) {
  header .landing p {
    padding: 0;
    margin: 0 9px;
    font-size: 17px;
  }
}
/********************** End Header **********************/
/********************** Start Main **********************/
main {
  position: relative;
  padding: 100px 100px 300px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  main {
    padding: 100px 20px 300px;
  }
}

main .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  box-shadow: var(--main-box-shadow);
  border-radius: 15px;
  padding: 50px 30px 50px 135px;
}

@media (max-width: 768px) {
  main .card {
    padding: 20px 40px;
    text-align: center;
    flex-direction: column-reverse;
  }

  main .card .text,
  main .card img {
    width: 100%;
  }
  main .card:nth-child(2) {
    flex-direction: column;
  }
}

main .text {
  width: 42%;
}

@media (max-width: 768px) {
  main .card .text {
    width: 100%;
    padding: 0;
  }
  main .text h2 {
    font-size: 22px;
    margin-top: 60px;
  }
}

main .card p {
  line-height: 1.5;
  margin: 20px 0;
  color: #7b7e80;
}

@media (max-width: 768px) {
  main .card p {
    margin: 10px 0;
    font-size: 14px;
  }
}

main .card .pic {
  width: 40%;
}

main img {
  width: 100%;
}

@media (max-width: 768px) {
  main .card .pic {
    width: 100%;
  }
}

main .community {
  width: 50%;
  background: white;
  position: absolute;
  bottom: -80px;
  right: 50%;
  transform: translateX(50%);
  padding: 50px;
  box-shadow: var(--main-box-shadow);
  text-align: center;
  border-radius: 15px;
}

main .community h2 {
  line-height: 1.5;
  margin: 25px 0;
}

@media (max-width: 768px) {
  main .community {
    width: 95%;
    padding: 20px;
    text-align: center;
    bottom: -50px;
    margin: 0 auto;
  }
  main .community h2 {
    font-size: 18px;
    margin: 30px 0;
  }
  main .community button {
    font-size: 14px;
    margin-bottom: 20px;
  }
}
/********************** End Main **********************/
/********************** Start Footer **********************/
footer {
  padding: 100px 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--footer-background);
  color: #dfdfdf;
}

@media (max-width: 768px) {
  footer {
    padding: 100px 20px 0;
  }
}

footer img {
  width: 160px;
  margin-bottom: 20px;
}

footer .box:first-child {
  flex: 2;
}

@media (max-width: 768px) {
  footer .box:first-child {
    flex-basis: 100%;
  }
}

footer .box .line {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

footer .box .line i {
  margin-right: 20px;
}

footer .box:nth-child(2) {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 50px;
  flex: 2;
}

@media (max-width: 768px) {
  footer .box:nth-child(2) {
    flex-direction: column;
    gap: 20px;
    flex-basis: 100%;
  }
}

footer ul li {
  margin-bottom: 15px;
}

footer .box:nth-child(3) {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 768px) {
  footer .box:nth-child(3) {
    align-items: center;
    gap: 25px;
    flex-basis: 100%;
  }
  footer .box:nth-child(3) span {
    font-size: 14px;
  }
}

footer a {
  color: #dfdfdf;
}

footer a:hover {
  text-decoration: underline;
}

footer .social {
  display: flex;
  align-items: center;
  gap: 20px;
}

footer .social div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

footer .social div:hover {
  color: var(--main-color);
  border-color: var(--main-color);
}

footer .box p {
  line-height: 1.5;
  font-size: 17px;
}

footer .footer {
  width: 100%;
  margin-top: 60px;
  padding: 20px;
}
/********************** End Footer **********************/
